In [1]:
import pandas as pd

In [2]:
# Read mhcld-puf-2020-csv.csv 
mh_demo_data = "MH-CLD-2020-DS0001-bndl-data-csv_v1/mhcld-puf-2020-csv.csv"
mh_demo_df = pd.read_csv(mh_demo_data)

In [3]:
# View DataFrame for mhcld-puf-2020-csv.csv
mh_demo_df.head()

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,-9,4,3,1,1,1,1,2,...,0,0,0,1,0,0,1,6,3,20200000001
1,2020,1,2,4,1,1,2,1,2,2,...,0,0,0,0,0,1,1,6,3,20200000002
2,2020,6,-9,4,4,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20200000003
3,2020,14,-9,4,3,2,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20200000004
4,2020,13,-9,4,3,2,1,1,1,2,...,0,0,1,1,0,1,1,6,3,20200000005

In [4]:
# Check the datatypes of your columns
mh_demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6945521 entries, 0 to 6945520
Data columns (total 40 columns):
 #   Column       Dtype
---  ------       -----
 0   YEAR         int64
 1   AGE          int64
 2   EDUC         int64
 3   ETHNIC       int64
 4   RACE         int64
 5   GENDER       int64
 6   SPHSERVICE   int64
 7   CMPSERVICE   int64
 8   OPISERVICE   int64
 9   RTCSERVICE   int64
 10  IJSSERVICE   int64
 11  MH1          int64
 12  MH2          int64
 13  MH3          int64
 14  SUB          int64
 15  MARSTAT      int64
 16  SMISED       int64
 17  SAP          int64
 18  EMPLOY       int64
 19  DETNLF       int64
 20  VETERAN      int64
 21  LIVARAG      int64
 22  NUMMHS       int64
 23  TRAUSTREFLG  int64
 24  ANXIETYFLG   int64
 25  ADHDFLG      int64
 26  CONDUCTFLG   int64
 27  DELIRDEMFLG  int64
 28  BIPOLARFLG   int64
 29  DEPRESSFLG   int64
 30  ODDFLG       int64
 31  PDDFLG       int64
 32  PERSONFLG    int64
 33  SCHIZOFLG    int64
 34  ALCSUBFLG    int64
 35  OTHERDISFLG  int64
 36  STATEFIP     int64
 37  DIVISION     int64
 38  REGION       int64
 39  CASEID       int64
dtypes: int64(40)
memory usage: 2.1 GB

In [5]:
# Clean up mhcld-puf-2020-csv.csv to only have  State data
mh_demo_df.drop(columns=['EDUC', 'ETHNIC', 'SPHSERVICE', 'CMPSERVICE', 'OPISERVICE',
                        'RTCSERVICE', 'IJSSERVICE', 'MH1', 'MH2', 'MH3', 'SUB', 'MARSTAT','SMISED', 'SAP', 'EMPLOY',
                        'DETNLF', 'VETERAN', 'LIVARAG', 'NUMMHS', 'TRAUSTREFLG', 'ADHDFLG', 'CONDUCTFLG',
                        'DELIRDEMFLG', 'BIPOLARFLG', 'ODDFLG', 'PDDFLG', 'PERSONFLG', 'SCHIZOFLG', 'ALCSUBFLG',
                        'OTHERDISFLG'])

,YEAR,AGE,RACE,GENDER,ANXIETYFLG,DEPRESSFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,3,1,0,0,1,6,3,20200000001
1,2020,1,1,1,1,0,1,6,3,20200000002
2,2020,6,4,2,0,0,1,6,3,20200000003
3,2020,14,3,2,0,0,1,6,3,20200000004
4,2020,13,3,2,0,0,1,6,3,20200000005
...,...,...,...,...,...,...,...,...,...,...
6945516,2020,6,-9,1,0,0,72,0,0,20206945517
6945517,2020,12,6,1,0,0,72,0,0,20206945518
6945518,2020,4,1,1,0,1,72,0,0,20206945519
6945519,2020,7,6,1,0,0,72,0,0,20206945520
6945520,2020,10,5,2,0,0,72,0,0,20206945521

In [7]:
# Rename DataFrame
clean_mh_demo_data_df=pd.DataFrame(mh_demo_df, columns=['YEAR','AGE', 'RACE', 'GENDER','ANXIETYFLG', 'DEPRESSFLG', 'STATEFIP', 'DIVISION', 'REGION', 'CASEID'])
clean_mh_demo_data_df.head()

,YEAR,AGE,RACE,GENDER,ANXIETYFLG,DEPRESSFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,3,1,0,0,1,6,3,20200000001
1,2020,1,1,1,1,0,1,6,3,20200000002
2,2020,6,4,2,0,0,1,6,3,20200000003
3,2020,14,3,2,0,0,1,6,3,20200000004
4,2020,13,3,2,0,0,1,6,3,20200000005

In [8]:
# Save DataFrame as a new file
clean_mh_demo_data_df.to_csv('MentalHealth_DemographicData.csv')

In [9]:
# Read MentalHealth_StateData.csv 
clean_mh_demo_data = "MentalHealth_DemographicData.csv"
clean_mh_demo_df = pd.read_csv(clean_mh_demo_data)

In [10]:
# Convert columns RACE, STATEIP, DIVISION and REGION from int64 to string
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].map(str)
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].map(str)
clean_mh_demo_data_df['REGION']=clean_mh_demo_data_df['REGION'].map(str)

In [12]:
# Convert STATEFIP from numbers to States and Territory names
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['1'], 'Alabama')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['2'], 'Alaska')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['4'], 'Arizona')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['5'], 'Arkansas')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['6'], 'California')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['8'], 'Colorado')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['9'], 'Connecticut')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['10'], 'Delaware')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['11'], 'District of Columbia')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['12'], 'Florida')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['12'], 'Gergia')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['15'], 'Hawaii')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['16'], 'Idaho')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['17'], 'Illinois')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['18'], 'Indiana')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['19'], 'Iowa')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['20'], 'Kansas')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['21'], 'Kentucky')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['22'], 'Lousisiana')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['25'], 'Massachusetts')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['26'], 'Michigan')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['27'], 'Missouri')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['29'], 'Montana')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['30'], 'Nebraska')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['31'], 'Nevada')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['32'], 'New Jersey')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['34'], 'New Mexico')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['36'], 'New York')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['37'], 'North Carolina')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['38'], 'North Dakota')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['39'], 'Ohio')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['40'], 'Oklahoma')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['41'], 'Oregon')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['42'], 'Pennsylvania')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['44'], 'Rhode Island')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['45'], 'South Carolina')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['46'], 'South Dakota')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['47'], 'Tennessee')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['48'], 'Texas')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['49'], 'Utah')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['50'], 'Vermont')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['51'], 'Virginia')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['53'], 'Washington')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['55'], 'Wisconsin')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['56'], 'Wyoming')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['72'], 'Puerto Rico')
clean_mh_demo_data_df['STATEFIP']=clean_mh_demo_data_df['STATEFIP'].replace(['99'], 'Other Jurisdictions')

In [14]:
# View DataFram mh_demo_data.df
clean_mh_demo_data_df

,YEAR,AGE,RACE,GENDER,ANXIETYFLG,DEPRESSFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,3,1,0,0,Alabama,6,3,20200000001
1,2020,1,1,1,1,0,Alabama,6,3,20200000002
2,2020,6,4,2,0,0,Alabama,6,3,20200000003
3,2020,14,3,2,0,0,Alabama,6,3,20200000004
4,2020,13,3,2,0,0,Alabama,6,3,20200000005
...,...,...,...,...,...,...,...,...,...,...
6945516,2020,6,-9,1,0,0,Puerto Rico,0,0,20206945517
6945517,2020,12,6,1,0,0,Puerto Rico,0,0,20206945518
6945518,2020,4,1,1,0,1,Puerto Rico,0,0,20206945519
6945519,2020,7,6,1,0,0,Puerto Rico,0,0,20206945520
6945520,2020,10,5,2,0,0,Puerto Rico,0,0,20206945521

In [20]:
# Convert columns RACE int64 to string
clean_mh_demo_data_df['RACE']=clean_mh_demo_data_df['RACE'].map(str)

In [21]:
# Convert Race from numbers to RACE label names
clean_mh_demo_data_df['RACE']=clean_mh_demo_data_df['RACE'].replace(['1'], 'American Indian/Alaska Native ')
clean_mh_demo_data_df['RACE']=clean_mh_demo_data_df['RACE'].replace(['2'], 'Asian')
clean_mh_demo_data_df['RACE']=clean_mh_demo_data_df['RACE'].replace(['3'], 'Black or African American')
clean_mh_demo_data_df['RACE']=clean_mh_demo_data_df['RACE'].replace(['4'], 'Native Hawaiian or Other Pacific Islander')
clean_mh_demo_data_df['RACE']=clean_mh_demo_data_df['RACE'].replace(['5'], 'White')
clean_mh_demo_data_df['RACE']=clean_mh_demo_data_df['RACE'].replace(['6'], 'Some other race alone/two or more races')
clean_mh_demo_data_df['RACE']=clean_mh_demo_data_df['RACE'].replace(['-9'], 'Missing/unknown/not collected/invalid')

In [22]:
# View DataFram mh_demo_data.df
clean_mh_demo_data_df

,YEAR,AGE,RACE,GENDER,ANXIETYFLG,DEPRESSFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,Black or African American,1,0,0,Alabama,6,3,20200000001
1,2020,1,American Indian/Alaska Native,1,1,0,Alabama,6,3,20200000002
2,2020,6,Native Hawaiian or Other Pacific Islander,2,0,0,Alabama,6,3,20200000003
3,2020,14,Black or African American,2,0,0,Alabama,6,3,20200000004
4,2020,13,Black or African American,2,0,0,Alabama,6,3,20200000005
...,...,...,...,...,...,...,...,...,...,...
6945516,2020,6,Missing/unknown/not collected/invalid,1,0,0,Puerto Rico,0,0,20206945517
6945517,2020,12,Some other race alone/two or more races,1,0,0,Puerto Rico,0,0,20206945518
6945518,2020,4,American Indian/Alaska Native,1,0,1,Puerto Rico,0,0,20206945519
6945519,2020,7,Some other race alone/two or more races,1,0,0,Puerto Rico,0,0,20206945520
6945520,2020,10,White,2,0,0,Puerto Rico,0,0,20206945521

In [23]:
# Convert DIVISION from numbers to names
# Convert STATEFIP from numbers to States and Territory names
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].replace(['0'], 'Other Jurisdictions')
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].replace(['1'], 'New England')
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].replace(['2'], 'Middle Atlantic')
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].replace(['3'], 'East North Central')
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].replace(['4'], 'West North Central')
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].replace(['5'], 'South Atlantic')
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].replace(['6'], 'East South Central')
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].replace(['7'], 'West South Central')
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].replace(['8'], 'Mountain')
clean_mh_demo_data_df['DIVISION']=clean_mh_demo_data_df['DIVISION'].replace(['9'], 'Pacific')

In [24]:
# View DataFram mh_state_data.df
clean_mh_demo_data_df

,YEAR,AGE,RACE,GENDER,ANXIETYFLG,DEPRESSFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,Black or African American,1,0,0,Alabama,East South Central,3,20200000001
1,2020,1,American Indian/Alaska Native,1,1,0,Alabama,East South Central,3,20200000002
2,2020,6,Native Hawaiian or Other Pacific Islander,2,0,0,Alabama,East South Central,3,20200000003
3,2020,14,Black or African American,2,0,0,Alabama,East South Central,3,20200000004
4,2020,13,Black or African American,2,0,0,Alabama,East South Central,3,20200000005
...,...,...,...,...,...,...,...,...,...,...
6945516,2020,6,Missing/unknown/not collected/invalid,1,0,0,Puerto Rico,Other Jurisdictions,0,20206945517
6945517,2020,12,Some other race alone/two or more races,1,0,0,Puerto Rico,Other Jurisdictions,0,20206945518
6945518,2020,4,American Indian/Alaska Native,1,0,1,Puerto Rico,Other Jurisdictions,0,20206945519
6945519,2020,7,Some other race alone/two or more races,1,0,0,Puerto Rico,Other Jurisdictions,0,20206945520
6945520,2020,10,White,2,0,0,Puerto Rico,Other Jurisdictions,0,20206945521

In [25]:
# Convert REGION from numbers to names
clean_mh_demo_data_df['REGION']=clean_mh_demo_data_df['REGION'].replace(['0'], 'Other Jurisdictions')
clean_mh_demo_data_df['REGION']=clean_mh_demo_data_df['REGION'].replace(['1'], 'Northest')
clean_mh_demo_data_df['REGION']=clean_mh_demo_data_df['REGION'].replace(['2'], 'Midwest')
clean_mh_demo_data_df['REGION']=clean_mh_demo_data_df['REGION'].replace(['3'], 'South')
clean_mh_demo_data_df['REGION']=clean_mh_demo_data_df['REGION'].replace(['4'], 'West')

In [26]:
# View DataFram mh_state_data.df
clean_mh_demo_data_df

,YEAR,AGE,RACE,GENDER,ANXIETYFLG,DEPRESSFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,Black or African American,1,0,0,Alabama,East South Central,South,20200000001
1,2020,1,American Indian/Alaska Native,1,1,0,Alabama,East South Central,South,20200000002
2,2020,6,Native Hawaiian or Other Pacific Islander,2,0,0,Alabama,East South Central,South,20200000003
3,2020,14,Black or African American,2,0,0,Alabama,East South Central,South,20200000004
4,2020,13,Black or African American,2,0,0,Alabama,East South Central,South,20200000005
...,...,...,...,...,...,...,...,...,...,...
6945516,2020,6,Missing/unknown/not collected/invalid,1,0,0,Puerto Rico,Other Jurisdictions,Other Jurisdictions,20206945517
6945517,2020,12,Some other race alone/two or more races,1,0,0,Puerto Rico,Other Jurisdictions,Other Jurisdictions,20206945518
6945518,2020,4,American Indian/Alaska Native,1,0,1,Puerto Rico,Other Jurisdictions,Other Jurisdictions,20206945519
6945519,2020,7,Some other race alone/two or more races,1,0,0,Puerto Rico,Other Jurisdictions,Other Jurisdictions,20206945520
6945520,2020,10,White,2,0,0,Puerto Rico,Other Jurisdictions,Other Jurisdictions,20206945521

In [28]:
# Save DataFrame as a new file
clean_mh_demo_data_df.to_csv('MentalHealth_DemographicData.csv')