In [1]:
# import dependencies
import numpy as np
import pandas as pd
import os
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
import warnings
warnings.filterwarnings('ignore')

In [3]:
# import data to DataFrame
# Load the data
file_path = os.path.relpath('./mhcld-puf-2020-csv.csv')
df = pd.read_csv(file_path)
df.head(10)

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,-9,4,3,1,1,1,1,2,...,0,0,0,1,0,0,1,6,3,20200000001
1,2020,1,2,4,1,1,2,1,2,2,...,0,0,0,0,0,1,1,6,3,20200000002
2,2020,6,-9,4,4,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20200000003
3,2020,14,-9,4,3,2,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20200000004
4,2020,13,-9,4,3,2,1,1,1,2,...,0,0,1,1,0,1,1,6,3,20200000005
5,2020,12,2,4,2,1,2,1,2,2,...,0,0,0,0,0,0,1,6,3,20200000006
6,2020,9,4,4,6,1,1,2,2,2,...,0,0,0,1,0,0,1,6,3,20200000007
7,2020,12,4,3,1,1,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20200000008
8,2020,10,5,4,3,2,2,1,1,2,...,0,0,1,0,0,0,1,6,3,20200000009
9,2020,8,5,3,5,1,2,1,1,2,...,0,0,1,0,1,0,1,6,3,20200000010

In [9]:
# columns to drop: 
# Year
# Education (due to excessive NaNs)
# Ethnicity
# SPHSERVICE
# CMPSERVICE
# OPISERVICE
# RTCSERVICE
# IJSSERVICE
# MH1, MH2, AND MH3
# SUB (substance abuse is covered by SAP) 
# MARSTAT (proportion of married people seems incorrect)
# EMPLOY (over 63% missing)
# DETNLF
# VETERAN
# LIVARAG
# CONDUCTFLG
# DELIRDEMFLG
# set aside ANXIETYFLAG for use as the target
# ODDFLG
# PDDFLG
# PERSONFLG
# ALCSUBFLG
# OTHERDISFLG
# STATEFIP
# DIVISION
# REGION
ml_df = df.drop(columns=['YEAR', 'EDUC', 'ETHNIC', 'SPHSERVICE', 'CMPSERVICE', 'OPISERVICE',
                        'RTCSERVICE', 'IJSSERVICE', 'MH1', 'MH2', 'MH3', 'SUB', 'MARSTAT', 'EMPLOY',
                        'DETNLF', 'VETERAN', 'LIVARAG', 'TRAUSTREFLG', 'CONDUCTFLG',
                        'DELIRDEMFLG','ODDFLG', 'PDDFLG', 'PERSONFLG', 'ALCSUBFLG', 'STATEFIP', 'DIVISION', 'REGION',
                        'OTHERDISFLG'])
ml_df.set_index('CASEID', inplace=True)
ml_df.head(10)

,AGE,RACE,GENDER,SMISED,SAP,NUMMHS,ANXIETYFLG,ADHDFLG,BIPOLARFLG,DEPRESSFLG,SCHIZOFLG
CASEID,,,,,,,,,,,
20200000001,14,3,1,1,1,2,0,0,0,0,1
20200000002,1,1,1,2,2,3,1,1,0,0,0
20200000003,6,4,2,1,1,1,0,0,1,0,0
20200000004,14,3,2,1,2,1,0,0,0,0,1
20200000005,13,3,2,1,1,3,0,0,0,0,1
20200000006,12,2,1,1,2,2,1,0,0,1,0
20200000007,9,6,1,1,1,2,1,0,0,0,1
20200000008,12,1,1,1,1,1,0,0,1,0,0
20200000009,10,3,2,1,2,2,1,0,0,0,0
20200000010,8,5,1,1,1,3,0,0,1,0,0

In [13]:
# Separate target variable from inputs
X = ml_df.copy()
X = X.drop('ANXIETYFLG', axis=1)
y = ml_df['ANXIETYFLG']

In [ ]:
# Split into training and testing datasets

In [ ]:
# Create Model Instance: logistic regression

In [ ]:
# Fit the model

In [ ]:
# Train the model

In [ ]:
# Check accuracy score and confusion matrix